div.references {
    padding-top: 4em;
    font-size: 50%;
}

.reveal table {
    margin-left: auto;
    margin-right: auto;
}

.reveal h1 { font-size: 2.11em;	}
.reveal h2 { font-size: 1.55em;	}
.reveal h3 { font-size: 1em;	}
